.center {
    margin: auto;
    width: 75%;
    padding: 10px;
    background-color: white;
}

.col-md-6 {
  padding-left: 80px;
  padding-right: 80px;
}

.jumbotron {
  text-align: center;
}

.card {
  border-style: none;
}

.errors {
  display: none;
  padding-top: 50px;
  text-align: center;
  color: red;
}
